* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(9, 15, 9);
	color: antiquewhite;
}

li {
	list-style-type: none;
}

.login span {
	font-size: 1.25rem;
	margin: 0.5rem;
}
