.notification {
	font-size: 1.25rem;
	color: rgb(200, 228, 200);
	border: 2px solid gray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: fit-content;
	text-align: center;
	/* min-height: 4rem; */
}
